DBCONNECTIONURL="paste your db connection url"

JWT_SECRET="paste your Jwt token secret key here"

AWS_SECRET_ACCESS_KEY="paste aws IAM ses access seceret key here"

AWS_ACCESS_KEY_ID="paste your AWS SES IAM key id here"

PORT="paste your port number here"